@font-face {
	font-family: 'DooM';
	src: url(DooM.ttf);
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	line-height:100%;
	text-align: center;
	z-index: 100;
	display:block;
  color: white;
	font-size: 20px;
	font-family: 'DooM';
}

body {
  margin:0;
}